<h1>{{product.title}}</h1>
<p>{{product.description}}</p>
<p>Precio: ${{product.price}}</p>
<p>Stock: {{product.stock}}</p>

<form method="POST" action="/api/carts/{{user.cartId}}/product/{{product._id}}">
  <button type="submit">Agregar al carrito</button>
</form>
